.Chat {
	height: 100vh;
}

.leftPane {
	/*background-color: red;*/
	display: inline-block;
	width: 20%;
	height: 100%;
	float: left;
	border-right: 2px solid #ccc;
}

.rightPane {
	/*background-color: yellow;*/
	display: inline-block;
	width: 80%;
	height: 100%;
}

.ConversationList {
	width: 100%;
	height: 100%;
}

.ConversationDetail {
	border-bottom: 1px solid #ccc;
	/*background-color: orange;*/
	width: 100%;
	height: 15%;
}

.ConversationBox {
	/*background-color: blue;*/
	width: 100%;
	height: 75%;
	border-bottom: 1px solid #ccc;
}

.ConversationInput {
	position: relative;
	width: 100%;
	/*background-color: pink;*/
	height: 10%;
}

.ConversationList > li {
	text-decoration: none;
	list-style: none;
}

.ConversationBox > li {
	text-decoration: none;
	list-style: none;
}



.ConversationInput > input {
	box-sizing: border-box;
	width: 90%;
	height: 100%;
	padding: 0;
}

.ConversationInput > button {
		width: 10%;
	float: right;
}